/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #0c0c0e;
  font-family: 'Segoe UI', sans-serif;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  background: rgba(2, 6, 23, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #111;
}

.logo {
  color: #00ff9d;
  font-size: 22px;
}

.nav-links a {
  margin-left: 30px;
  font-size: 14px;
  color: #aaa;
}

.nav-links a:hover {
  color: #00ff9d;
}

/* HERO */
.hero {
  min-height: 100vh;
  max-width: 1000px;
  margin: auto;
  padding: 120px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  color: #00ff9d;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 70px;
  font-weight: bold;
}

.hero h2 {
  font-size: 50px;
  color: #6b7280;
  margin-top: 10px;
}

.desc {
  max-width: 500px;
  margin-top: 20px;
  color: #9ca3af;
}

/* BUTTON */
.btn {
  margin-top: 30px;
  display: inline-block;
  border: 1px solid #00ff9d;
  color: #00ff9d;
  padding: 12px 24px;
}

.btn:hover {
  background: rgba(0, 255, 157, 0.1);
}

/* PROJECTS */
.projects {
  max-width: 1000px;
  margin: auto;
  padding: 100px 20px;
}

.projects h2 {
  margin-bottom: 30px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #0f172a;
  border: 1px solid #222;
  padding: 20px;
  transition: 0.3s;
}

.card:hover {
  border-color: #00ff9d;
  transform: translateY(-5px);
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 100px 20px;
}

.contact p {
  margin-top: 10px;
  color: #9ca3af;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  color: #6b7280;
}